.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-project{
    margin-top: 30px;
    box-shadow: 8px 0px 17px -6px rgba(0,0,0,0.75);
    border: 5px solid #accbe1;
}

.body-project .enimies, .body-project .guns{
    display: flex;
    justify-content: space-around;
    padding: 45px;
}

.body-project .enimies_card, .body-project .guns_card{
    width: 300px;
    height: 300px;
    cursor: pointer;
    padding: 15px 2%;
}

.body-project .enimies_card:hover,
 .body-project .guns_card:hover{
    transform: scale(1.05);
    transition: all 0.4s;
}

.body-project .enimies_card img, .body-project .guns_card img{
    height: 200px;
}

.btn-success{
    padding: 20px 40px;
    border: 0;
    cursor: pointer;
    background-color: rgb(20, 143, 20);
    border-bottom: 8px solid rgb(1, 104, 1);
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.btn-success:active{
    border-bottom: 0;
    border-right: 8px solid rgb(1, 104, 1);
    border-left: 8px solid rgb(1, 104, 1);
    border-top: 8px solid rgb(1, 104, 1);
}

@media screen and (max-width: 992px){
    .main-header{
        flex-direction: column;
    }

    .body-project .enimies, .body-project .guns{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 768px){
    .btn-success{
        padding: 15px 35px;
        border: 0;
        cursor: pointer;
        background-color: rgb(20, 143, 20);
        border-bottom: 6px solid rgb(1, 104, 1);
        font-size: 18px;
        font-weight: 600;
        color: white;
    }
    
    .btn-success:active{
        border-bottom: 0;
        border-right: 6px solid rgb(1, 104, 1);
        border-left: 6px solid rgb(1, 104, 1);
        border-top: 6px solid rgb(1, 104, 1);
    }
}