<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
<body class="background text-centered">

    <header class="main-header container primary">

        <h2 class="big-header">Calculadora de Danos</h2>

        <h2 class="medium-header">Projeto 1 - Flask</h2>

    </header><!--main-header-->

    
    <main class="container-1240 body-project primary">
        <h2 class="medium-header">
            Qual <u>inimigo</u> você quer atacar?
        </h2>
        <section class="enimies">

            {% for dic in enimies %}

            <article class="enimies_card">
                <figure>
                    <img src="{{dic.imgPath}}" alt="{{dic.alt}}">
                </figure>
                
                <h2 class="small-header">{{dic.description}}</h2>
            </article><!--enimies-card-->

            {% endfor %}

        </section><!--enimies-->

        <h2 class="medium-header">
            Com qual <u>arma</u> você quer atacar?
        </h2>

        <section class="guns">

            {% for dic in guns %}

            <article class="guns_card">
                <figure>
                    <img src="{{dic.imgPath}}" alt="{{dic.alt}}">
                </figure>
                
                <h2 class="small-header">{{dic.description}}</h2>
            </article><!--enimies-card-->

            {% endfor %}

        </section><!--guns-->

        <section class="atacar">
            <form method="POST" action="/">
                <button class="btn-success" type="submit">Atacar!</button>
            </form>
        </section><!--atacar-->

    </main><!--body-project-->


</body>
</html>