<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Betão</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Enriqueta&display=swap" rel="stylesheet">
</head>
<body>
    <main class="secondary">

        <section class="container body-project">

            <header class="main-header">
                <h2 class="big-header">Projeto Betão</h2>

                <h2 class="medium-header">Projeto 2 - Flask</h2>
            </header>

            <article id="cart-container" class="container primary card-container">

                <div class="card">
                    <figure>
                        <img src="" alt="TrioMSN" id="my-img">
                    </figure>

                    <div class="text-centered">
                        <h2 class="big-header" id="big-header"></h2>

                        <h3 class="small-header" id="small-header"></h3>

                        <p class="my-paragraph" id="my-paragraph"></p>
                    </div>
                    
                </div>

            </article>

            <div class="text-centered">
                <button id="change" class="btn-success">Trocar</button>
            </div>
            

        </section>

        <script src="../static/js/index.js"></script>

    </main>
</body>
</html>